{{ define "main" }}
{{ if lt .Params.capacity 10 }}
	{{ $.Scratch.Set "ticket-dropdown" .Params.capacity }}
{{ else }}
	{{ $.Scratch.Set "ticket-dropdown" 10 }}
{{ end }}
{{ $painting := where (where $.Site.Pages "Section" "paintings") "Params.paintingid" .Params.paintingid }}
{{ $venue := where (where $.Site.Pages "Section" "venues") "Params.venueid" .Params.venueid }}
<main class="single">
	<script type="text/JavaScript">
		var eventDate = Date.parse("{{ .Params.eventdate }}");
	</script>
	<h1>{{ .Title }}</h1>
	{{ range $painting }}
	<img class="painting" src="/assets/img/paintings/{{ .Params.lowresfile }}" alt="The painting" />
	{{ end }}
	<div class="content">
		<h2>Event Description</h2>
		{{ .Content }}
		<h2>Event Details</h2>
		<ul>
			<li>{{ range $venue }}<strong>Address:</strong> {{ .Params.address  }}{{ end }}</li>
			<li><strong>When:</strong> {{ dateFormat "Monday, January 2, 2006" .Params.eventdate }}</li>
			<li><strong>Time:</strong> {{ dateFormat "3:04 PM" .Params.eventdate }}</li>
			<li><strong>Price: {{ .Params.price }}</strong></li>
		</ul>
		<p>Please note that our events are for adults 18 and over. All people in your party consuming alcohol must be the legal drinking age of 21 and above with proper ID. Attendees assume all responsiblilites for those drinking alcohol in their party.</p>
		<p class="buy-button-wrapper">
			<select class="ticket-number">
				<option value="1" default>1 ticket</option>
			{{ if gt ($.Scratch.Get "ticket-dropdown") 1 }}
				{{ range $index := after 1 (seq ($.Scratch.Get "ticket-dropdown")) }}
					<option value="{{ $index }}">{{ $index }} tickets</option>
				{{ end }}
			{{ end }}
			</select>
			<a class="buy-button button" data-product-id="{{ .Params.productid }}" href="#" target="_blank">Purchase Tickets</a>
		</p>
	</div>
</main>
{{ end }}
