/* ----------------------------------------------------------------------------
 *  Table of Contents
 * ----------------------------------------------------------------------------
 * # Structure
 * # Typography
 * # Content
 * # Elements
 * # Generic Classes
 * --------------------------------------------------------------------------*/

/* Font colors belong in the typography section meanwhile background colors will be in structure or elements, depending on what they're for.*/

/************************************************
 * Structure
 * *********************************************/
html,
body{
	height: 100%;
	min-height: 100%;
}

html{
	box-sizing: border-box;
}
	*,
	*:before,
	*:after{
		box-sizing: inherit;
	}

body{
	display: flex;
	flex-direction: column;
	background-color: #2D2D2D;
	padding: 1opx;
	padding-top: 5vw;
}

body > header{
	padding: 60px 30px;
	text-align: center;
}
	body > header img{
		width: 30%;
	}

	body > header ul{
		margin: 0 auto;
		padding: 0;
	}
		body > header li{
			display: inline-block;
			list-style-type: none;
		}
			body > header li::before{
				content: "• ";
				padding: 2px 5px 2px 7px;
			}
				body > header li:first-child::before{
					content: "";
				}

main{
	flex-grow: 1;
	padding: 5px 15px;
}
	main h1{
	}

body > footer{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}
	body > footer p{
		margin: 0;
	}



/************************************************
 * Typography
 * *********************************************/
html{
	font-size: 62.5%;
}

body{
	font-family: "Lalezar", "Arial Black", sans-serif;
	font-size: 2.3rem;
	line-height: 1.5;
	color: #004588; /* blue */
	color: #DDDBCE;
}
	body a{
		color: #DDDBCE;
	}

main h1{
	font-size: 5.5rem;
}

body > footer{
	font-family: "Arial Black", sans-serif;
	font-size: 1.3rem;
}





/************************************************
 * Content
 * *********************************************/
/* All Content Types */
main h2{
	text-align: center;
}

		main .content-item h3{
			margin: 0;
			padding: 10px 0;
			font-size: 2.6rem;
		}

		main .content-item p{
			padding: 10px;
		}

	main .content-item a{
	}

/* Homepage */
body.home{
	text-align: center;
}
	body.home .logo{
		display: inline-block;
		width: 120px;
		text-align: center;
	}

	body.home a.button:nth-child(2){
		background-color: #F79432 !important;
	}

	body.home a.button:nth-child(4){
		background-color: #EF4D7B !important;
	}

	body.home a.button:nth-child(6){
		background-color: #4F73B8 !important;
	}

	body.home a.button:nth-child(8){
		background-color: #6CBC82 !important;
	}

/* Section - Events */
body.section-events main.list{
	overflow:  auto;
}
	body.section-events .event{
		margin-bottom: 35px;
		overflow: auto;
	}

	body.section-events main.list a{
		text-decoration: none;
	}

	body.section-events main.list img.painting{
		float: left;
		padding: 0 20px 20px 0;
		width: 40%;
	}

	body.section-events main.list h2{
		margin: 0;
		text-align: left;
	}

	body.section-events main.list ul{
		margin-top: 0px;
	}

	body.section-events main.list li{
		list-style: none;
	}

	body.section-events main.list .button{
		background-color: #F79432;
	}

body.section-events main.single{
}
	body.section-events main.single img.painting{
		width: 100%;
	}

	body.section-events main.single li{
		list-style: none;
	}

	body.section-events main.single .buy-button-wrapper{
		margin-bottom: 0;
		border-top: 1px solid #000000;
		padding: 20px 0 0;
		text-align: center;
	}
		body.section-events main.single select{
			height: 34px;
		}

		body.section-events main.single .buy-button{
		}

/************************************************
 * Output Formats
 * *********************************************/
body.outputformat-poster{
	width: 8.5in;
	height: 11in;
}
	body.outputformat-poster > header{
		padding: 10px 30px;
	}

	body.outputformat-poster > h1{
		margin: 0;
	}

	body.outputformat-poster main{
		width: 95%;
	}
		body.outputformat-poster.section-events main.single h1{
			margin-top: 0;
		}

		body.outputformat-poster.section-events main.single img.painting{
			display: block;
			margin: 0 auto;
			width: auto;
			height: 400px;
		}

h1.poster{
	text-align: center;
	font-size: 4.0rem;
}



/************************************************
 * Elements
 * *********************************************/
span.major-number{
	display: block;
	margin-bottom: -60px;
	font-size: 14.0rem;
	color: #FF0000;
}

.button{
	display: inline-block;
	margin: 0;
	background-color: #00A84F;
	padding: 5px 15px;
	color: #FFFFFF !important;
	text-decoration: none !important;
}
	.button:hover{
		background: #008F43;
	}

	.button i{
		margin-right: 7px;
	}

.pager{
	margin: 5px 5% 60px;
	border-top: 1px dotted #DDDDDD;
	padding: 5px;
	height: 60px;
}
	.pager a{
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
		.pager a:hover{
			text-decoration: underline;
		}

		.pager a.newer{
			float: left;
		}

		.pager a.older{
			float: right;
		}

form{
	margin: 0 auto;
	width: 80%;
}
	form label{
		font-weight: bold;
	}

	form input{
		width: 100%;
	}

	form textarea{
		width: 100%;
		height: 100px;
	}

	form input[type="submit"]{
		margin: 0 auto;
		width: 100px;
	}



/************************************************
 * Generic Classes
 * *********************************************/
.alignleft{
	float: left;
	margin-right: 1.5rem;
}

.aligncenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}

.alignright{
	float: right;
	margin-left: 1.5rem;
}
