/* Rules without a media query present take affect when the webpage is 1,170px or
less. */


main{
}
	body.section-communities main.list .communities{
	}
		body.section-communities main.list .community{
		}


/************************************************
 * <= 800px width
 * *********************************************/
@media(max-width: 800px){

	body > header img{
		width: 40%;
	}

	main{
		width: 80%;
	}

	body.section-communities main.list .communities{
	}
		body.section-communities main.list .community{
		}
}


/************************************************
 * <= 600px width
 * *********************************************/
@media(max-width: 600px){

	body{
		font-size: 1.2rem;
	}

	main{
		width: 95%;
	}

	body.section-events main.list img.painting{
		display: block;
		float: none;
		width: 100%;
	}
		body.section-communities main.list .community{
		}
}
